<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--						<div class="pull-right" style="margin-right:40px">-->
<!--							<a href="#striped-table" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>-->
<!--						</div>-->
<!--					</div>-->
<h3 style="margin-left:300px;margin-top:30px">Category List</h3>
					<table class="table table-striped" style="margin-left:300px;margin-top:70px">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Book</th>
								<th scope="col">Author</th>
                                <th scope="col">Price</th>
								<th scope="col">Image</th>
								<th>Options</th>

							</tr>
						</thead>
						<tbody>
						{% for i in book %}
							<tr>
								<td>{{i.id}}</td>
								<td>{{i.book_name}}</td>
								<td>{{i.author}}</td>
								<td>{{i.price }}</td>
								 <td>
									 <img src="{{i.image.url}}" style="width:350px;height:300px">

                             </td>
								<td>
									<a href="{% url 'edit_book' book_id=i.id %}">
										<button class="btn-outline-primary" style="width:70px;height:35px">Edit</button>
									</a>
									<a href="{% url 'del_book' book_id=i.id %}">
										<button class="btn-outline-danger" style="width:70px;height:35px;margin-left:78px;margin-top:-50px">Delete</button>
									</a>
								</td>

<!--								<td><span class="badge badge-primary">Primary</span></td>-->

						{% endfor %}
						</tbody>
					</table>
					<div class="collapse collapse-box" id="striped-table">
						<div class="code-box">
							<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#striped-table-code"><i class="fa fa-clipboard"></i> Copy Code</a>
								<a href="#striped-table" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
							</div>
							<pre><code class="xml copy-pre hljs" id="striped-table-code">
<span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table table-striped"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">thead</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span>&gt;</span>#<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"row"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
							</code></pre>
						</div>
					</div>
				</div>
</body>
</html>
{% endblock %}