<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="pd-20 card-box mb-220" style="margin-left:285px">
  <h3 style="margin-top:55px;margin-bottom:25px">Edit Books Here</h3>
					<form method="post" action="{% url 'book_edit' book_id=data.id %}" enctype="multipart/form-data">
						{% csrf_token %}

						<div class="form-group row">
							<label class="col-sm-10 col-md-1 col-form-label">Book Name</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" value="{{data.book_name}}" type="text" name="name">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-1 col-form-label">Author</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control"  value="{{data.author }}" type="text" name="author">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-10 col-md-1 col-form-label">Price</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control"  value="{{data.price}}" type="number" name="price">
							</div>
						</div>

                          <div class="form-floating mb-3" style="margin-top:20px">
							    <img src="{{data.image.url}}" width="150px" height="150px">
                                <input type="file" style="margin-left:20px" class="form-control" value="{{data.image}}" id="" placeholder="upload" name="image"><br>

                                <label for="" style="margin-left:20px">Upload Category Image</label>
                        </div><br>
                          <div style="margin-top:130px">
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                             </form>
                            </div>

						</div>
                        </div>


<!--						<div class="form-group row">-->
<!--							<label class="col-sm-12 col-md-2 col-form-label">Time</label>-->
<!--							<div class="col-sm-12 col-md-10">-->
<!--								<input class="form-control time-picker td-input" placeholder="Select time" type="text" readonly="">-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="form-group row">-->
<!--							<label class="col-sm-12 col-md-2 col-form-label">Select</label>-->
<!--							<div class="col-sm-12 col-md-10">-->
<!--								<select class="custom-select col-12">-->
<!--									<option selected="">Choose...</option>-->
<!--									<option value="1">One</option>-->
<!--									<option value="2">Two</option>-->
<!--									<option value="3">Three</option>-->
<!--								</select>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="form-group row">-->
<!--							<label class="col-sm-12 col-md-2 col-form-label">Color</label>-->
<!--							<div class="col-sm-12 col-md-10">-->
<!--								<input class="form-control" value="#563d7c" type="color">-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="form-group row">-->
<!--							<label class="col-sm-12 col-md-2 col-form-label">Input Range</label>-->
<!--							<div class="col-sm-12 col-md-10">-->
<!--								<input class="form-control" value="50" type="range">-->
<!--							</div>-->

<!--					<div class="collapse-box collapse" id="basic-form1" style="">-->
<!--						<div class="code-box">-->
<!--							<div class="clearfix">-->
<!--								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>-->
<!--								<a href="#basic-form1" class="btn btn-primary btn-sm pull-right collapsed" rel="content-y" data-toggle="collapse" role="button" aria-expanded="false"><i class="fa fa-eye-slash"></i> Hide Code</a>-->
<!--							</div>-->
<!--							<pre><code class="xml copy-pre hljs" id="copy-pre">-->
<!--<span class="hljs-tag">&lt;<span class="hljs-name">form</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Text<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Johnny Brown"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Search<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Search Here"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"search"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Email<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"bootstrap@example.com"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"email"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>URL<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"https://getbootstrap.com"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"url"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Telephone<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"1-(111)-111-1111"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"tel"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Password<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"password"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"password"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Number<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"100"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"number"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"example-datetime-local-input"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Date and time<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control datetimepicker"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Choose Date anf time"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Date<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control date-picker"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Select Date"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Month<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control month-picker"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Select Month"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Time<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control time-picker td-input"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Select time"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">readonly</span>=<span class="hljs-string">""</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Select<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-select col-12"</span>&gt;</span>-->
<!--				<span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">selected</span>=<span class="hljs-string">""</span>&gt;</span>Choose...<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>-->
<!--				<span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"1"</span>&gt;</span>One<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>-->
<!--				<span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"2"</span>&gt;</span>Two<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>-->
<!--				<span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"3"</span>&gt;</span>Three<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Color<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"#563d7c"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"color"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group row"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-2 col-form-label"</span>&gt;</span>Input Range<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-sm-12 col-md-10"</span>&gt;</span>-->
<!--			<span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"50"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"range"</span>&gt;</span>-->
<!--		<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--	<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>-->
<!--<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span>-->
<!--							</code></pre>-->
<!--						</div>-->

</body>

</html>
{% endblock %}